# quicksilverd RPC settings (linearize-hashes)
rpcuser=someuser
rpcpassword=somepassword
#datadir=~/.quicksilver
host=127.0.0.1

#mainnet default
port=9554

#publictest default
#port=19558

#sandbox default
#port=19557

# hashlist height range (linearize-hashes)
# Set max_height to the current tip (getblockcount) or a bit below.
max_height=1000

# linearized-chain input/output settings (linearize-data)

# mainnet
netmagic=48475153
genesis=c9144acae20212e57e9e59f34a681bd25f55d81438001c424ebb95cd4869bcf3
input=/home/example/.quicksilver/blocks

# publictest
#netmagic=48475155
#genesis=917dde1f04c7470969bbdc344d39559e1af32b3b0e6caaed89db54637d6e46da
#input=/home/example/.quicksilver/publictest/blocks

# sandbox
#netmagic=48475152
#genesis=bd806e80eec28f4b16ab48db377ad6af369fa3b1197cb6d9d77d07db6d5e91e7
#input=/home/example/.quicksilver/sandbox/blocks

# "output" option causes blockchain files to be written to the given location,
# with "output_file" ignored. If not used, "output_file" is used instead.
# output=/home/example/blockchain_directory
output_file=/home/example/Downloads/quicksilver-linear.dat
hashlist=hashlist.txt

# Maximum size in bytes of out-of-order blocks cache in memory
out_of_order_cache_sz = 100000000

# Do we want the reverse the hash bytes coming from getblockhash?
rev_hash_bytes = False

# On a new month, do we want to set the access and modify times of the new
# blockchain file?
file_timestamp = 0
# Do we want to split the blockchain files given a new month or specific height?
split_timestamp = 0

# Do we want debug printouts?
debug_output = False
